.banner {
    position: relative;
    isolation: isolate;
}

.banner .title {
    --fs-max: "200px"
}

.banner::before {
    content: " ";
    background-image: url(../../Constants/banner/banner-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-origin: border-box;
    position: absolute;
    inset: 0;
    transform: skewY(4deg);
    z-index: -1;
}

.banner h1 {
    font-size: 3rem;
}

.banner h2 {
    font-size: 2rem;
}

.banner {
    padding-bottom: 5rem !important;
}

@media screen and (min-width:768px) {
    .banner h1 {
        font-size: 4rem;
    }
    .banner h2 {
        font-size: 3rem;
    }
    .banner {
        padding-bottom: 7rem !important;
    }
}

@media screen and (min-width:992px) {
    .banner h1 {
        font-size: 5rem;
    }
    .banner h2 {
        font-size: 4rem;
    }
    .banner {
        padding-bottom: 8rem !important;
    }
}