.ourstore input:focus {
    box-shadow: none !important;
}

.condition__search-box {
    visibility: hidden;
    pointer-events: none;
    transform: translateY(10px);
    opacity: 0;
    transition: all 0.3s ease;
}

.condition__search-box.active {
    visibility: visible;
    pointer-events: all;
    opacity: 1;
    transform: translateY(0px);
}