.header__top-strip {
    color: white;
}

* {
    user-select: none;
}

.header__upper .form-control:focus {
    box-shadow: none !important;
    border: none !important;
}

.header__up-img_container {
    height: 25px;
    width: 25px;
}

.header__bottom-strip .dropdown button,
.header__bottom-strip .dropdown-links p {
    color: white;
    font-size: 1rem;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.3;
    text-transform: uppercase;
    border: none;
}

.header__bottom-strip .dropdown button:hover {
    box-shadow: none;
}

.header__bottom-strip .dropdown-menu {
    border-radius: 0;
    background: var(--color-131921);
    transform: translate3d(0px, 57px, 0px) !important;
}

.header__bottom-strip .dropdown-item {
    padding: 10px;
    border-bottom: 1px solid var(--color-3b4149, "white") !important;
}

.header__bottom-strip .dropdown-item:hover {
    background: transparent;
    color: var(--color-febd69) !important;
    transition: color 0.3s ease-in-out;
}

@media screen and (max-width: 578px) {
    .header__bottom-strip .dropdown button,
    .header__bottom-strip .dropdown-links p {
        font-size: 0.8rem;
        white-space: nowrap;
    }
    .header__up-img_container {
        height: 20px;
        width: 20px;
    }
    .header__upper-links p {
        padding-top: 0.125rem !important;
        font-size: 0.7rem !important;
        line-height: 10px !important;
        white-space: nowrap;
    }
}

@media screen and (max-width: 350px) {
    .header__up-img_container {
        height: 20px;
        width: 20px;
    }
    .header__upper-links p {
        font-size: 0.6rem !important;
    }
}

@media screen and (max-width: 250px) {
    .header__up-img_container {
        height: 15px;
        width: 15px;
        width: 100%;
    }
    .header__upper-links p {
        font-size: 0.4rem !important;
    }
}